* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    overflow-y: scroll;
    max-width: 45em;
    font-family: Helvetica, freesans, arial, sans-serif;
    font-size: 15px;
    line-height: 25.5px;
    color: #333;
}

#menu {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

#menu img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

#menu ul {
    background: #1c1c1c;
    overflow: hidden;
}

#menu li {
    display: block;
    float: left;
    border-right: solid 1px #484846;
}

#menu li.active a {
    color: #b4cb32;
    text-weight: 900;
}

#menu a {
    display: block;
    color: #ddd6d4;
    text-decoration: none;
    padding: 0.5em 1em;
}

#menu a:hover {
    background: #2c2c2c;
}

#main {
    margin: 2em;
}

#main blockquote {
    font-size: 130%;
}

#main blockquote img {
    margin-bottom: 0.5em;
}

#main p, #main ul, #main ol, #main pre, #main h2, #main h3, #main h4, #main hr, #main dl {
    margin-bottom: 1em;
}

#main li, #main pre {
    margin-left: 2em;
}

#main pre {
    font-size: 0.75em;
    white-space: pre-wrap;
}

#main img {
    width: 100%;
}

#main .nordlicht {
    color: #ddd6d4;
    background: black;
    width: 95vw;
    margin-left: calc(-47.5vw + 50%);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 10px;
    margin-bottom: 2em;
}

#main .nordlicht img {
    width: 95vw;
    display: block;
}

#main .nordlicht p {
    margin-top: 0.4em;
    margin-bottom: 0;
    margin-left: 1em;
}

#main h1 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 43.2px;
    border-bottom: solid 1px #eee;
}

#main h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 51px;
    border-bottom: solid 1px #eee;
}

#main h3 {
    font-size: 22.5px;
    font-weight: 700;
    line-height: 38.25px;
    margin-top: 22.5px;
    margin-bottom: 15px;
}

#main table td {
    min-width: 10em;
}

code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

#footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    color: #ddd6d4;
    background: #1c1c1c;
}

#footer p {
    padding: 0.5em;
}

#footer a {
    color: #ddd6d4;
}
